@import "~bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pane {
  display: inline-block;
  overflow-y: scroll;
  max-height: 200px;
}

.fix-container {
  z-index: 10;
  background-color: aqua;
  border-bottom: 2px;
}

p {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-style: italic;
  color: #c1c1c1;
}

input {
  color: #fd0;
  background-color: #fd0;
}